* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-padrao: #fbf6eb;
    --cor-azulmedio: #6fa8dc;
    --cor-azulclaro: #92bce0;
    --cor-azulpastel: #b5cfe4;
    --cor-azulperola: #d8e3e7;
    --cor-preto: #000000;
    --texto: #000000;
    --fonte-principal: 'Poppins', sans-serif;
}

body {
    color: var(--texto);
    font-family: var(--fonte-principal);
    line-height: 1.6;
}

#navbar {
    height: 5rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;

}


#navbar img{
    height: 3rem;
    margin-left: 1.6rem
}

#navbar a img{
    height: 1.5rem;
    margin-right: 2.5rem;
}

#calendario {
    height: 25em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar {
  width: 320px;
  background: var(--cor-azulperola);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  font-family: Arial;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header button {
  background: var(--cor-azulmedio);
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.weekdays, .days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  margin-top: 10px;
}

.weekdays div {
  font-weight: bold;
}

.days div {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.days div:hover {
  background: #e6f0ff;
}

.days .today {
  background: var(--cor-azulpastel);
  color: white;
}

.marked {
  background: #92bce0;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}

#form-container {
    display: flex;
    gap: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.historico {
    height: 10rem;
    width: 55%;
    padding: 1rem;
    border: none;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    background: rgba(180, 210, 230, 0.6);
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resultado:hover {
    background: var(--cor-azulmedio);
}

.col-esquerda h2 {
    margin-bottom: 0.3rem;
}

.col-direita {
    display: flex;
    flex-direction: column; 
    gap: 15px; 
}

.acao-item {
    display: flex;
    align-items: center; 
    gap: 10px; 
}


.acao-item a,
.acao-item p {
    margin: 0; 
}


.acao-item img {
    width: 24px; 
    height: 24px;
}

.acoes {
    width: 20rem;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column; 
    gap: 1rem; 
    justify-content: center;
}

.acoes button {
    height: 2.2rem;
    border: none;
    border-radius: 0.7rem;
    font-weight: 600;
    cursor: pointer;
}

.acoes .resulOnline {
    background: #B2D4EF; 
    color: white;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    color: rgba(22, 22, 22, 0.5);
    background-image: url('/img/iconSetaPraCima.png');
    background-repeat: no-repeat;
    background-position: 0.6rem center;
    background-size: 2rem;
}

.acoes .resulBaixar {
    background: #B2D4EF; 
    color: white;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    color: rgba(22, 22, 22, 0.5);
    background-image: url('/img/iconDownload.png');
    background-repeat: no-repeat;
    background-position: 0.6rem center;
    background-size: 1.2rem;
}
