* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-padrao: #fbf6eb;
    --cor-azulmedio: #6fa8dc;
    --cor-azulclaro: #92bce0;
    --cor-azulpastel: #b5cfe4;
    --cor-azulperola: #d8e3e7;
    --cor-preto: #000000;
    --texto: #000000;
    --fonte-principal: 'Poppins', sans-serif;
}

body {
    color: var(--texto);
    font-family: var(--fonte-principal);
    line-height: 1.6;
}

#navbar {
    height: 5rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;

}


#navbar img{
    height: 3rem;
    margin-left: 1.6rem
}

#navbar a img{
    height: 1.5rem;
    margin-right: 2.5rem;
}

#form-container {
    display: flex;
    gap: 2rem;
}

#lado-direito {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#inputs {
    width: 35rem;
    margin-left: 10rem;
}

h3 {
    padding: 0.2rem;
}

input {
    width: 65%;
    height: 2rem;
    border-radius: 1rem;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    background: rgba(180, 210, 230, 0.6);
    box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
}

label {
    width: 5rem;
    height: 2rem;
    border-radius: 1rem;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    background: rgba(180, 210, 230, 0.6);
    box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
}

select {
    align-items: center;
    border-radius: 0.6rem;
    height: 1.2rem;
    width: 7rem;
    border: 0;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    color: var(--cor-preto);
    cursor: pointer;
    display: flex;            
    justify-content: center;  
    align-items: center;
    text-decoration: none;

}

.dataHora {
    display: flex;
    justify-content: center;
    gap: 1rem; 
    margin-top: 1.5rem;
}

.UniContato {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    gap: 1rem;
    margin-left: -3.5rem;
}

#anexo {
    height: 5rem;
    width: 20rem;
    border: none;
    background: rgb(216, 227, 231, 0.5);
    border-radius: 1rem;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;  
    padding: 1rem;
}

#anexo label {
    width: 90%;
    height: 3rem;
    border-radius: 1rem;
    border: none;
    padding-left: 2.5rem;
    padding-right: 1rem;
    background: rgba(180, 210, 230, 0.6);
    box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
    color: rgba(22, 22, 22, 0.5);
    background-image: url('/img/iconAnexar.png');
    background-repeat: no-repeat;
    background-position: 0.6rem center;
    background-size: 1.2rem;
    font-weight: 600;
    align-items: center;
    display: flex;  
}

#pagamento {
    margin-top: 2rem; 
    width: 20rem;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column; 
    gap: 2.5rem; 
}

#pagamento input {
    height: 2.2rem;
    border-radius: 0.7rem;
    border: none;
    margin-left: 2.5rem;
    margin-top: -2rem;
    padding-left: 1rem;
    background: rgba(180, 210, 230, 0.6);
    font-weight: 600;
}

#pagamento button {
    height: 2.2rem;
    border: none;
    border-radius: 0.7rem;
    font-weight: 600;
    cursor: pointer;
}

#pagamento .pagar {
    background: #B2D4EF; 
    color: white;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    color: rgba(22, 22, 22, 0.5);
}

#pagamento .cancelar {
    background: #B2D4EF; 
    color: white;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    color: rgba(22, 22, 22, 0.5);
}