* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-padrao: #fbf6eb;
    --cor-azulmedio: #6fa8dc;
    --cor-azulclaro: #92bce0;
    --cor-azulpastel: #b5cfe4;
    --cor-azulperola: #d8e3e7;
    --cor-preto: #000000;
    --texto: #000000;
    --fonte-principal: 'Poppins', sans-serif;
}

body {
    color: var(--texto);
    font-family: var(--fonte-principal);
    line-height: 1.6;
}

#navbar {
    height: 5rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;

}


#navbar img{
    height: 3rem;
    margin-left: 1.6rem
}

#navbar a img{
    height: 1.5rem;
    margin-right: 2.5rem;
}

#form-container {
    display: flex;
    gap: 2rem;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resultado {
    height: 10rem;
    width: 55%;
    padding: 1rem;
    border: none;
    gap: 2rem;
    margin-top: 2rem;
    border-radius: 1rem;
    background: rgba(180, 210, 230, 0.6);
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resultado:hover {
    background: var(--cor-azulmedio);
}

.col-esquerda h2 {
    margin-bottom: 0.3rem;
}

.col-direita p {
    text-align: right;
    margin-bottom: 0.2rem;
}



