* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-padrao: #fbf6eb;
    --cor-azulmedio: #6fa8dc;
    --cor-azulclaro: #92bce0;
    --cor-azulpastel: #b5cfe4;
    --cor-azulperola: #d8e3e7;
    --cor-preto: #000000;
    --texto: #000000;
    --fonte-principal: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(to bottom, #B5CFE4, #FFFFFF);
    color: var(--texto);
    font-family: var(--fonte-principal);
    line-height: 1.6;
}

#navbar {
    height: 5rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: var(--cor-azulperola);
    display: flex;
    align-items: center;
    gap: 1rem;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
}


#navbar img{
    height: 5rem;
}



.titulo {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
}

.menu{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 10rem;
}

.menu a{
    color: var(--cor-preto);
    text-decoration: none;
}

.menu a:hover{
    color: var(--cor-azulmedio);
    border-bottom: 0.2rem solid var(--cor-azulmedio);
    padding-bottom: 1rem;
    transition: 0.3s;
}

.acoes{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.acoes .login{
    background-color: var(--cor-azulmedio);
    border-radius: 0.6rem;
    height: 2rem;
    width: 5rem;
    border: 0;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    color: var(--cor-padrao);
    cursor: pointer;
    display: flex;            
    justify-content: center;  
    align-items: center;
    text-decoration: none;
    font-weight: 650;     
}

.acoes .login:hover{
    background-color: var(--cor-azulclaro);
}

.acoes .cadastro{
    align-items: center;
    background-color: var(--cor-azulpastel);
    border-radius: 0.6rem;
    height: 2rem;
    width: 7rem;
    border: 0;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    color: var(--cor-padrao);
    cursor: pointer;
    display: flex;            
    justify-content: center;  
    align-items: center;
    text-decoration: none;
    font-weight: 650; 
}

.acoes .cadastro:hover{
    background-color: var(--cor-azulclaro);
}

#inicio {
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #B5CFE4;
}

.slogan{
    width: 35rem;
}

.slogan h1{
    margin-left: 2rem;
}

.slogan h5 {
    margin-left: 2rem;
}

.nuvemtopo {
    position: relative; 
    height: 30rem; 
    width: 30rem;
    margin-right: 11rem;
    margin-top: 2rem;
}

.nuvemtopo img {
    position: absolute; 
    top: 0;
    left: 0;
    height: 30rem;
    width: auto; 
}

.nuvemtopo img[src*="nuvemTopo"] {
    z-index: 2;
    height: 32rem;
    top: -1rem;
}

.nuvemtopo img[src*="nuvemCor"] {
    z-index: 0;
    left: 0;
    top: 0;
}

.slogan a{
    align-items: center;
    background-color: var(--cor-azulmedio);
    border-radius: 0.6rem;
    height: 4rem;
    width: 10rem;
    border: 0;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    color: var(--cor-padrao);
    cursor: pointer;
    display: flex;            
    justify-content: center;  
    align-items: center;
    text-decoration: none;
    font-weight: 650;
    margin-left: 10rem;
    margin-top: 5rem
}

#sobre {
    height: 25rem;
    border: 1px solid black;
    background-color: #B5CFE4;
}

.lab img{
    height: 25rem;
    padding: 2rem;
}
